@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;500;700;800&display=swap');

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url(./images/img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    font-size: 15px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.login {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    padding: 30px 5px;
    gap: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.login .form .form-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    color: white;
    padding: 5px 3px;
    font-size: 1rem;
    font-weight: medium;
}

.login .form .btn {
    font-weight: bold;
    background-color: rgb(205, 58, 97);
    border: none;
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    transition: width 1s, background-color 1s;
}

.login a {
    color: white;
    font-size: 0.9rem;
    font-weight: light;
}

.login .form .btn:hover{
    background-color: rgb(55, 55, 185);
    width: 110%;
    cursor: pointer;
}

.form-input:focus {
    outline: none;
}